---
layout: default
title: Llewelyn & Bezalel
---
<section id="banner">
    <h1>Llewelyn & Bezalel</h1>
    <div id="timer" class="animated fadeIn">
        <div class="segment">
            <span class="days">00</span> <span class="segment-label">days</span>
        </div>
        <div class="segment">
            <span class="hours">00</span> <span class="segment-label">hours</span>
        </div>
        <div class="segment">
            <span class="minutes">00</span> <span class="segment-label">minutes</span>
        </div>
        <div class="segment">
            <span class="seconds">00</span> <span class="segment-label">seconds</span>
        </div>
    </div>
    <h2 id="wedding-date">
        April 10, 2016
    </h2>
</section>
<section id="venue">
    <div id="wedding" class="venue-item">
        <div class="row">
            <div class="columns large-6">
                <h2 class="venue-caption">Wedding Ceremony</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns large-6">
                <img src="/img/st-therese-mono.jpg" alt="" class="venue-image">
            </div>
            <div class="columns large-6 text-right venue-address">
                <h2>
                    St. Therese of the Child Jesus Parish
                </h2>
                <address>
                    Pasteur Street, Lahug<br>
                    Cebu City<br>
                    Cebu, Philippines<br>
                </address>
            </div>
        </div>
    </div>
    <div id="reception" class="venue-item">
        <div class="row">
            <div class="columns large-6 large-offset-6">
                <h2 class="venue-caption text-right">Reception</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns large-6 text-left venue-address">
                <h2>
                    Ocean Pavilion
                </h2>
                <address>
                    Shangri-la¹s Mactan Resort & Spa<br>
                    Punta Engano, Mactan<br>
                    Cebu, Philippines<br>
                </address>
            </div>
            <div class="columns large-6">
                <img src="/img/pavilion-mono.jpg" alt="" class="venue-image">
            </div>
        </div>

    </div>
</section>
<section id="entourage">
    <div class="row">
        <div class="columns large-12">
            <h1>Our Entourage</h1>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <span class="role">Parents of the Bride</span>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <span class="name">
                    Mr. Romeo Lupo &amp; Mrs. Jocelyn Lupo
                </span>
            </div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <span class="role">Parents of the Groom</span>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <span class="name">
                    Mr. Bernardo Hermoso &amp; Mrs. Henrietta Hermoso
                </span>
            </div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <span class="role">Primary Sponsors</span>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <span class="name">Mr. Edgar Griño & Mrs. Joanna Chua Griño</span>
                <br>
                <span class="name">Mr. Joseph Ciraula & Mrs. Virginia Kintanar</span>
            </div>
        </div>
        <!--<div class="row primary-sponsors">-->
            <!--<div class="columns large-3 large-offset-3">-->
                <!--<span class="name">-->
                    <!--Mr. Edgar Griño<br>-->
                    <!--Mrs. Joanna Chua Griño-->
                <!--</span>-->
            <!--</div>-->
            <!--[><div class="columns large-2"><]-->
                <!--[><span class="ampersand">&amp;</span><]-->
            <!--[></div><]-->
            <!--<div class="columns large-3">-->
                <!--<span class="name">-->
                   <!--Mr. Joseph Ciraula<br>-->
                   <!--Mrs. Virginia Kintanar-->
                <!--</span>-->
            <!--</div>-->
            <!--<div class="columns large-3">&nbsp;</div>-->
        <!--</div>-->
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-3 large-offset-3">
                <div>
                    <div class="role">Matron of Honor</div>
                </div>
                <div>
                    <div class="name">Linh Bui</div>
                </div>
            </div>
            <div class="columns large-3">
                <div>
                    <div class="role">Best Man</div>
                </div>
                <div>
                    <div class="name">Joseph Angelo Rendon</div>
                </div>
            </div>
            <div class="columns large-3">&nbsp;</div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-3 large-offset-3">
                <div>
                    <div class="role">Bridesmaid</div>
                </div>
                <div>
                    <div class="name">Marlinda Boncales</div>
                </div>
            </div>
            <div class="columns large-3">
                <div>
                    <div class="role">Groomsman</div>
                </div>
                <div>
                    <div class="name">Bench Jefferson Lupo</div>
                </div>
            </div>
            <div class="columns large-3">&nbsp;</div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <div>
                    <span class="role">Ring/Coin Bearer</span>
                </div>
                <div>
                    <span class="name">Rj Llebench Lupo</span>
                </div>
            </div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <div>
                    <span class="role">Candles</span>
                </div>
                <div>
                    <span class="name">Mr. Noel Olea & Atty. Angie Batiquin-Olea</span>
                </div>
            </div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <div>
                    <span class="role">Veil</span>
                </div>
                <div>
                    <span class="name">Mr. Marlon Roy Surban & Ms. Marlinda Boncales</span>
                </div>
            </div>
        </div>
    </div>
    <div class="entourage-section">
        <div class="row">
            <div class="columns large-12">
                <div>
                    <span class="role">Cord</span>
                </div>
                <div>
                    <span class="name">Mr. John Thomas Pua & Ms. Donna Maniago (Ms. Suong Bui as proxy)</span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="entourage-section">-->
        <!--<div class="row">-->
            <!--<div class="columns large-12">-->
                <!--<span class="role">Secondary Sponsors</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="columns large-6">-->
                <!--<div>-->
                    <!--<span class="role">Candles</span>-->
                <!--</div>-->
                <!--<div class="name">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>
<section id="guest-info">
    <div class="row">
        <div class="columns large-12">
            <h1>Guest Information</h1>
        </div>
    </div>
    <div id="naia-warning">
        <div class="row">
            <div class="columns large-12">
                <!--<span class="fa-warning"></span>-->
                If travelling to the Philippines, please avoid connecting flights to Ninoy Aquino International Airport (NAIA).
                <div class="text-left">
                    <a href="http://www.cnn.com/2015/11/04/aviation/philippines-airport-bullet-bag-scam-tanim-bala/">Read more</a>
                </div>
                <br>
                We recommend the following airlines: <em>Asiana Airlines</em>, <em>Korean Airlines</em>, and <em>Cathay Pacific</em>. 
                <br>
                <br>
                These airlines has flights with Cebu as point-of-entry into the Philippines, allowing you to avoid NAIA and any subsequent connecting domestic flights.
            </div>
        </div>
    </div>
    <div class="row" id="hotels">
        <div class="columns large-12">
            <h3>Hotels</h3>
            {% assign chunked = site.hotels | chunk:2 %}
            <div class="hotel-list">
                {% for hotels in chunked %}
                <div class="row">
                    {% for hotel in hotels %}
                    <div class="columns large-6">
                        <h4>{{ hotel.name }}</h4>
                        <address>
                            {% for line in hotel.address %}
                            {{ line }}<br>
                            {% endfor %}
                        </address>
                        <a href="{{ hotel.website }}" class="button mint-button">View Website</a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <!--<ul class="hotel-list">-->
                <!--{% for hotel in site.hotels %}-->
                <!--<li>-->
                    <!--<h4>{{ hotel.name }}</h4>-->
                    <!--<address>-->
                        <!--{% for line in hotel.address %}-->
                        <!--{{ line }}<br>-->
                        <!--{% endfor %}-->
                    <!--</address>-->
                    <!--<a href="{{ hotel.website }}" class="button mint-button">View Website</a>-->
                <!--</li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
        </div>
    </div>
    <div id="cebu-tourism-video">
        <div class="row">
            <div class="columns large-12">
                <h1>Cebu Attractions</h1>
            </div>
        </div>
        <div class="video-wrapper text-center">
                <iframe id="cebu-video" src="https://www.youtube.com/embed/zK14Fv_vZ8Y" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row" id="coming-soon">
            <div class="columns large-12 text-center">
                <div class="tbd">
                    More info to come soon...
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="columns large-8">-->
                <!--Download <em>Cebu Guide</em> app for suggested activities, tourist information, essential conact info, etc.-->
            <!--</div>-->
            <!--<div class="columns large-4">-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>
