
.nav-wrapper {
  transition: all 0.3s ease-in-out;
  /*border-bottom: 3px solid $white;*/
  background-color: $white;
  .top-bar {
    .top-bar-section {
      ul {
        display: table;
        margin: 0 auto;
        width: 600px;

        li {
          background-color: transparent;
          display: table-cell;

          &.toggle-topbar {
            display: none;
          }

          a {
            color: darken($mint-green, 40);
            font-size: rem-calc(16);
          }

          @media #{$small-only} {
            display: none;

            &.toggle-topbar {
              display: table-cell;
            }
          }
        }
      }
    }

  }
  &.transparent {
    border-bottom: 3px solid $white;
    .top-bar {
      .top-bar-section {
        ul {
          li {
            a {
              color: $white;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }
  }

  .top-bar.expanded {
    background-color: $white !important;
    .top-bar-section {
      ul {
        display: block;
        li {
          display: block;
          a {
            color: #498c73 !important;
            text-shadow: none;
          }
        }
      }
    }
  }
}

.transparent {
  background-color: transparent;
}

.f-topbar-fixed {
  padding-top: 0px !important;
}
