@import "fonts";
@import "foundation";

$mint-green: #C2DFD4;
$coral: #FE8A80;
$shadow-color : #FFFFFF;
$gold: #FFE398;
@import "_settings";

body {
  /* Letterpress effect start */
  text-shadow: 0 1px 1px $shadow-color;
  background-color: #E6F1EC;
  /* end */
}


.button {
  text-shadow: none;
}

.button.mint-button {
  background-color: $mint-green;
  color: darken($mint-green, 40);
  font-family: $header-font-family-alt;
}

nav#main-nav {
  height: 50px; 
  background-color: $mint-green;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px darken($mint-green, 10);
  z-index: 2;
  display: none;
}

section#top {
  /*display: none;*/
  padding-top: 50px;
  #nuptials {
    font-family: "Tangerine-Bold";
    text-align: center;
    color: #76B29A;
    font-size: rem-calc(55);
    margin-bottom: -25px;
  }
  
  div#envelope {
    margin: 0 auto;
    .green-box {
      background-color: $mint-green;
      height: 150px;
      h1 {
        text-align: center;
        font-family: $header-font-family;
        color: $white;
        font-size: rem-calc(90);
        text-shadow: 3px 3px $coral;
      }
    }

    .coral-box {
      background-color: $coral;
      height: 80px;
      border-top: 5px solid darken($coral, 10);

      .save-the-date {
        margin-top: -25px;
        position: absolute;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
        font-size: rem-calc(25);
        color: lighten($gold, 50);
        text-transform: uppercase;
        font-family: $header-font-family;
        text-shadow: 1px 1px darken($gold, 10);
        text-align: center;

        span {
          padding: 2px 20px;
          display: inline-block;
          background-color: $gold;
          margin: 0 auto;
          box-shadow: 2px 2px darken($gold, 30);
        }
      }
    }
  }
  @media #{$medium-up} {
    & {
//      height: 100vh;
      padding-top: 150px;
      #nuptials {
        margin: 0px auto;
        font-size: rem-calc(130);
        margin-bottom: -50px;
      }

      div#envelope {
        width: 700px;
        .green-box {
          height: 200px;
          h1 {
            text-align: center;
            font-family: $header-font-family;
            font-size: rem-calc(130);
            color: $white;
            text-shadow: 5px 5px $coral;
          } 
        }
        .coral-box {
          margin: 0 10px 0 10px;
        }
      }
    }
  }

  
}

section#venue {
  padding: 20px 0;
  background-color: $coral;
  color: $white;
  text-shadow: 1px 1px darken($coral, 10);


  hr {
    border-color: darken($coral, 10);
    box-shadow: 0 1px lighten($coral, 10);
  }
  address {
    font-style: normal;
    font-family: "Helvetica Neue";
  }

  h1, h2, h3, h4 {
    font-family: "Din-Bold";
    color: $white;
  }
  h2 {
    text-transform: uppercase;
  }

  div.venue-part {
    
    text-align: center;

    .button {
      margin-top: 15px;
    }

    .venue-image-box {
      img {
        border: 3px solid darken($coral, 5);
      }
      display: none;
    }
  }

  @media #{$medium-up} {
    & {
      height: 100vh;
      padding-top: 90px;
      div.venue-part {

        height: 45vh;
        .button {
          margin-top: 50px;
        }

        &#ceremony {
          text-align: left;
          .button {
            left: 0;
          }
        }

        &#reception {
          text-align: right;
          .button {
            right: 0;
          }
        }

        .venue-image-box {
          display: block;
        }
      }
    }
  }
}
